<link rel="import" href="../../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-app.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-middleware.html">
<link rel="import" href="../../../../bower_components/express-web-components/express-config.html">
<link rel="import" href="../api/api.component.html">

<dom-module id="server-app">
    <template>
        <express-app port="[[port]]" callback="[[listenCallback]]">
            <express-config callback="[[setStatic]]"></express-config>
            <express-middleware callback="[[morgan]]"></express-middleware>
            <express-middleware callback="[[bodyParserURL]]"></express-middleware>
            <express-middleware callback="[[bodyParserJSON]]"></express-middleware>
            <express-middleware callback="[[bodyParserCustom]]"></express-middleware>
            <express-middleware callback="[[methodOverride]]"></express-middleware>

            <server-api></server-api>
            <express-middleware method="get" path="*" callback="[[appHandler]]"></express-middleware>
        </express-app>
    </template>

    <script src="app.component.ts"></script>
</dom-module>
